/* START GLOBALS*/
* {
  padding: 0;

  border: 0;
  box-sizing: border-box;
  --bg-main: #313715;
  --bg-second: #2f4f4f;
  --green: #64b6ac;
  --purple: #8783d1;
  --red: #ef3e36;
}

.winner {
  color: var(--green) !important;
}
.loser {
  color: var(--red) !important;
}

html {
  font-family: Roboto Mono, Arial, Helvetica, sans-serif;
}

body {
  background: var(--bg-main);
  color: #fff;
}

main {
  max-width: 1440px;
  min-height: 789px;
  margin: 60px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* END GLOBALS */

/* START SECTION-1 */
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-1 h1 {
  font-size: 19px;
  font-weight: medium;
}

.section-1 h2 {
  font-size: 18px;
  font-weight: 400;
}

.section-1 h3 {
  font-size: 16px;
}

.section-1 .rock-span {
  color: var(--green);
}
.section-1 .paper-span {
  color: var(--purple);
}
.section-1 .scissor-span {
  color: var(--red);
}
/* END SECTION-1 */

/* START SECTION-2 */
.section-2 {
  margin: auto;
}

.player-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-wrap h2 {
  font-weight: 400;
  font-size: 30px;
}

.inner-wrap {
  background: var(--bg-second);
  border-radius: 8px;
  padding: 35px 35px;
  max-width: 420px;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.3);
}
.inner-wrap img {
  width: 65px;
  height: 65px;
  cursor: pointer;
  border-radius: 8px;
  margin: 0 10px;
}

.inner-wrap img {
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.3);
}

.card {
  transition: 0.1s ease-in;
}
.card:hover {
  transform: scale(1.1);
  border: 3px solid white;
}

.profile {
  transform: scale(1.4);
}

.focus {
  transform: scale(1.5);
  border: 3px solid white;
}

.inner-wrap h2 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 0;
}
.icon-wrap {
  display: flex;
  justify-content: space-between;
}

.vs {
  color: #909090;
  font-weight: 400;
  margin: 1.5rem 0;
  text-align: center;
}

.score {
  text-align: center;
}

/* END SECTION-2 */

/* START LAST SECTION */

button {
  margin-top: 4.5rem;
  padding: 12px;
  color: white;
  background-color: var(--red);
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: scale(1.2);
}
button:hover {
  color: var(--red);
  border: 2px solid var(--red);
  background-color: rgb(228, 228, 228);
  /* background-color: crimson; */
}

/* END LAST SECTION */

/* MEDIA QUERIES */
@media only screen and (min-width: 1024px) {
  .section-1 {
    display: block;
  }
  .section-1 h1 {
    font-size: 50px;
  }
  .section-1 h2 {
    font-size: 35px;
  }
  .section-1 h3 {
    font-size: 25px;
  }

  .section-2 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 950px;
  }
  .vs {
    font-size: 40px;
  }
  .button {
  }
}

/* MEDIA QUERIES END */
